<template name="location">
<div class="form-group">
  <div class="row">
  {{../key }}
    <div class="col-sm-offset-2 col-sm-3 col-xs-offset-1">
      <div class="input-daterange input-group" id="inputStart">
        <input type="text" class="input-md form-control" placeholder="Start Date" name="start" />
        <span class="input-group-addon">to</span> 
        <input type="text" class="input-md form-control" placeholder="End Date" name="end" />
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-8 col-sm-offset-0 col-sm-4">
      <input class="form-control" type="text" placeholder="Location"/>
    </div>
  </div>
</div>
</template>