<template name="locationForm">
  <form class="form-horizontal" action='vacationPlan.js'>
  <div class="well">
    {{#each state}}
      {{> location key="{{key}}"}}
    {{/each}}
  </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-offset-1 col-sm-offset-2 col-sm-5 pull-right">
          <button class="btn btn-info add">Add Destination</button>
          <button type="submit" class="btn btn-success">Continue</button>
        </div>
      </div>
    </div>
  </form>
</template>