<template name="home">
   <div>
    <form class="form-horizontal splash-form">
      <div class="form-group">
        <label for="inputStart" class="col-sm-2 control-label">Start</label>
        <div class="input-daterange control-label col-sm-4 col-lg-4 input-group" id="inputStart">
          <input type="text" class="input-md form-control" placeholder="Optional" name="start" />
          <span class="input-group-addon">to</span> 
          <input type="text" class="input-md form-control" placeholder="Optional" name="end" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputLocation" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-4 col-lg-4">
          <input class="form-control typeahead" type="text"
                        placeholder="Optional" autocomplete="off" spellcheck="off"
                        data-source="cities" data-opened="opened" data-closed="closed" data-selected="selected" data-autocompleted="autocompleted">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Continue</button>
        </div>
      </div>
    </form>
   </div>
</template>
